#Ignore LibreOffice locks
*/.~lock.*#

*/*.tmp

# Word temporary
*/~$*.doc*

# Word Auto Backup File
Backup of *.doc*

# Excel temporary
*/~$*.xls*

# Excel Backup File
*/*.xlk

# PowerPoint temporary
*/~$*.ppt*

# Visio autosave temporary files
*/*.~vsd*

#DXF drawings
*.dxf

# Main assemblies
V05-00-00*.iges
V05-00-00*.stp
V05-00-00*.step

